/* HEADER*/

body {
    background: rgb(139,83,145);
    background: radial-gradient(circle, rgba(139,83,145,1) 45%, rgba(31,50,143,1) 100%);
    height: 100%;
}

.ny{
    background-image: url("newyork.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/*SECTION*/




/*FOOTER*/